
#bpMain{
	-fx-background-color: rgb(58,58,58);
}

#hbWindowOperations{
	-fx-background-color: rgb(185,120,19);
}

#lConnect{
	-fx-text-fill: white;	
}

#circleConnect{
	-fx-fill: rgb(6,132,54);
}

#lInfoForCode{
	-fx-text-fill: white;
}

#sLineHorizontal{
	-fx-fill: white;	
}

#sLineVertical{
	-fx-fill: white;
}

#MenuButtonWhite{
	-fx-background-color: transparent;
	-fx-text-fill: white;
	-fx-font-weight: bold;
	-fx-font-size: 1.7em;
	-fx-font-family: "Segoe UI";
}

#MenuButtonGrey{
	-fx-background-color: transparent;
	-fx-text-fill: grey;
	-fx-font-weight: bold;
	-fx-font-size: 1.7em;
	-fx-font-family: "Segoe UI";
}

#lConnectedDeviceInfo{
	-fx-text-fill: white;
	-fx-font-weight: bold;
	-fx-font-size: 2.6em;
	-fx-font-family: "Segoe UI";
}

#lDeviceName{
	-fx-text-fill: white;
	-fx-font-style: italic;
	-fx-font-size: 2.6em;
	-fx-font-family: "Segoe UI";
}

#bDisconnectDevice{
	-fx-background-radius: 5pt;
	-fx-background-color: rgb(150,24,17);
	-fx-text-fill: white;
	-fx-font-weight: bold;
	-fx-font-size: 2em;
	-fx-font-family: "Segoe UI";
}

#InfoFirstValue{
	-fx-text-fill: white;
	-fx-font-weight: bold;
	-fx-font-size: 2em;
	-fx-font-family: "Segoe UI";
}

#lVersionNumber{
	-fx-text-fill: white;
	-fx-font-size: 2em;
	-fx-font-family: "Segoe UI";
}

#lCreatorName{
	-fx-text-fill: white;
	-fx-font-size: 2em;
	-fx-font-family: "Segoe UI";
}

#lSend{
	-fx-text-fill: white;
	-fx-font-weight: bold;
	-fx-font-size: 2em;
	-fx-font-family: "Segoe UI";
}

#lReceive{
	-fx-text-fill: white;
	-fx-font-weight: bold;
	-fx-font-size: 2em;
	-fx-font-family: "Segoe UI";
}

#lPathToFileSend{
	-fx-text-fill: white;
	-fx-font-size: 1.7em;
	-fx-font-family: "Segoe UI";
}

#lPathToDirectoryReceive{
	-fx-text-fill: white;
	-fx-font-size: 1.7em;
	-fx-font-family: "Segoe UI";
}

#bSendFile{
	-fx-background-color: rgb(6,132,54);
	-fx-background-radius: 5pt;
	-fx-text-fill: white;
	-fx-font-size: 1.7em;
	-fx-font-weight: bold;
	-fx-font-family: "Segoe UI";
}

#bChooseFileToSend{
	-fx-background-color: rgb(185,120,19);
	-fx-background-radius: 5pt;
	-fx-text-fill: white;
	-fx-font-size: 1.7em;
	-fx-font-weight: bold;
	-fx-font-family: "Segoe UI";
}

#bChooseSavePathReceive{
	-fx-background-color: rgb(185,120,19);
	-fx-background-radius: 5pt;
	-fx-text-fill: white;
	-fx-font-size: 1.7em;
	-fx-font-weight: bold;
	-fx-font-family: "Segoe UI";
}
